<% title "Tasks for #{@project.title}" %> <h2>Tasks for <%= @project.title %></h2>
<p>
  Below, you can see all the project tasks and their status.
</p>
<h3>Tasks</h3>
<table class="list">
  <tr>
    <th>Title</th>
    <th>Status</th>
  </tr>
  <% @tasks.each do |task| %>
  <tr>
    <td><%= link_to task.title, project_task_path(@project, task) %></td>
    <td><%= status_span task.status %></td>
  </tr>
  <% end %>
</table>
<h3>Filter?</h3>
<p>
  Currently showing
  <% if params[:status] %>
  <%= status_span params[:status] %>
  <% else %>
  <span class="highlight">All</span>
  <% end %> tasks. Show <%= link_to "All", project_tasks_path(@project)%>, <%= link_to "Idle", project_tasks_path(@project, :status => "idle")%>, <%= link_to "Progress", project_tasks_path(@project, :status => "progress")%> or <%= link_to "Done", project_tasks_path(@project, :status => "done")%>.
</p>
<h3>Related</h3>
<ul>
  <li>
    <%= link_to 'Add Task', new_project_task_path(@project) %>
  </li>
  <li>
    <%= link_to "Back to Project", project_path(@project) %>
  </li>
</ul>
