<% title "Task #{@task.title}"%> <h2><%= @task.title %></h2>
<p>
  <strong>Project:</strong>
  <%= link_to @project.title, project_path(@project) %>
</p>
<p><strong></strong></p>
<p>
  <%= @task.desc %>
</p>
<p>
  <ul>
    <li>
      <%= link_to 'Edit Task', edit_project_task_path(@project, @task) %>
    </li>
    <li>
      <%= link_to 'Back to Tasks', project_tasks_path %>
    </li>
  </ul>
</p>
