<h2>Welcome!</h2>
<p>
  Welcome to <%= link_to app_title, root_path %>, a web app to use when reporting working hours.
  Manage your projects through tasks and report the time working on different tasks.
</p>
<p>
  <br />
</p>
<h3>Notes</h3>
<p>
  <%= link_to app_title, root_path %> is a <%= link_to "Ruby on Rails", "http://rubyonrails.org" %> application written and maintained by <%= link_to "Freddie Pettersson", "http://freddiepettersson.herokuapp.com" %>.   Check out the source at <%= link_to "GitHub", "https://github.com/FreddieBoi/Working925" %>.
</p>
