<h2>Welcome!</h2>
<p>
  Welcome to <%= link_to app_title, root_path %>, a web app to use when reporting working hours.
</p>
<h3>Features</h3>
<ul class="bullet">
  <li>
    Manage your projects through tasks.
  </li>
  <li>
    Report the time you worked for each day.
  </li>
  <li>
    Connect your reports to different tasks.
  </li>
  <li>
    Summarize your reported hours per month to simplify salary calculations.
  </li>
  <li>
    Continuosly follow your projects progression.
  </li>
  <li>
    Keep track of tasks with simple statuses.
  </li>
</ul>
<h3>Notes</h3>
<ul>
  <li>
    <%= link_to app_title, root_path %> is a <%= link_to "Ruby on Rails", "http://rubyonrails.org" %> application powered by <%= link_to "Heroku", "http://heroku.com/ "%>.
  </li>
  <li>
    Written and maintained by <%= link_to "Freddie Pettersson", "http://freddiepettersson.herokuapp.com" %>.
  </li>
  <li>
    Check out the source over at <%= link_to "GitHub", "https://github.com/FreddieBoi/Working925" %>.
  </li>
</ul>
