<% title "My Projects" %> <h2>My Projects</h2>
<p>
  Below, you see all the projects where you are a collaborator.
</p>
<h3>Projects</h3>
<table class="list">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th># Collaborators</th>
    <th># Tasks</th>
  </tr>
  <% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.title, project %></td>
    <td><%= project.desc %></td>
    <td><%= project.users.count %></td>
    <td><%= project.tasks.count %></td>
  </tr>
  <% end %>
</table>
<h3>Related</h3>
<ul>
  <li>
    <%= link_to 'New Project', new_project_path %>
  </li>
</ul>
