<% title "My reports" %>
<h2>My reports</h2>
<p>
  Found <%= pluralize(@reports.count, "report") %> for <%= h @date.strftime("%Y-%m") %>.
</p>
<p>
  <b>Totally worked for:</b>
  <%= @total_h %> hours (<%= @total_s %>)
</p>
<div id="calendar">
  <h2 id="month"> <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m") %>
  <%= h @date.strftime("%B %Y") %>
  <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m") %></h2>
  <% calendar_for @reports, :year => @date.year, :month => @date.month do |calendar| %>
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
    <% calendar.day(:day_method => :worked_on) do |date, reports|%>
      <%= date.day %>
      <ul>
        <% for report in reports %>
        <li>
          <%= link_to "#{h(report.worked_for_h)} hours", report %>
        </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
<br />
<%= link_to 'New report', new_report_path %>
