<% title "My Reports" %> <h2>My Reports</h2>
<p>
  Below, you see all your reports per month.
</p>
<div id="calendar">
  <h2 id="month"> <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m") %>
  <%= @date.strftime("%B %Y") %>
  <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m") %></h2>
  <%= calendar_for @reports, :year => @date.year, :month => @date.month, :first_day_of_week => 1 do |calendar| %>
  <%= calendar.head('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday') %>
  <% calendar.day(:day_method => :worked_on) do |date, reports|%>
  <%= link_to date.day, new_report_path(:worked_on => date), :class => "day", :title => "New Report for #{date}" %>
  <ul>
    <% for report in reports %>
    <li>
      <%= link_to pluralize(report.worked_for_h.round(2), "hour"), report %>
    </li>
    <% end %>
  </ul>
  <% end %>
  <% end %>
</div>
<h3>Month Summary</h3>
<p>
  Found <strong><%= pluralize(@reports.count, "report") %></strong> for <strong><%= @date.strftime("%B %Y") %></strong>.
</p>
<p>
  Totally worked for <strong><%= pluralize(@total_h, "hour") %> (<%= @total_s %>)</strong>.
</p>
<p>
  Average reported time was <strong><%= pluralize(@avg_reported, "hour") %></strong>.
</p>
<h3>Overall Summary</h3>
<p>
  Found <strong><%= pluralize(@overall_reports_count, "report") %></strong>.
</p>
<p>
  Totally worked for <strong><%= pluralize(@overall_h, "hour") %> (<%= @overall_s %>)</strong>.
</p>
<p>
  Average reported time was <strong><%= pluralize(@overall_avg_reported, "hour") %></strong>.
</p>
<h3>Related</h3>
<ul>
  <li>
    <%= link_to 'New Report', new_report_path %>
  </li>
</ul>

