<% title "Report for #{@report.worked_on}" %>
<h2>Report for <%= @report.worked_on %></h2>

<p>
  <b>Started at:</b>
  <%= "0" if @report.started_at.hour < 10 %><%= @report.started_at.hour %> : <%= "0" if @report.started_at.min < 10 %><%= @report.started_at.min %>
</p>

<p>
  <b>Left at:</b>
  <%= "0" if @report.left_at.hour < 10 %><%= @report.left_at.hour %> : <%= "0" if @report.left_at.min < 10 %><%= @report.left_at.min %>
</p>

<p>
  <b>Lunch for:</b>
  <%= @report.lunch_for %> minutes
</p>

<p>
  <b>Away for:</b>
  <%= @report.away_for %> minutes
</p>

<p>
  <b>Totally worked for:</b>
  <%= @report.worked_for_h %> hours (<%= @report.worked_for_s %>)
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
