<!DOCTYPE html>
<html>
  <head>
    <title>Working925 - <%= content_for?(:title) ? yield(:title) : "What a way to make a living" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">

      <header>
        <div id="heading">
          <h1><%= link_to app_title, root_path %></h1>
          <p>
            <em>&#9834; What a way to make a living &#9834;</em>
          </p>
        </div>
        <div id="navigation">
          <nav id="header-nav">
            <ul>
              <li>
                <%= link_to "My Projects", projects_path %>
              </li>
              <li>
                <%= link_to "My Reports", reports_path %>
              </li>
              <li>
                <%= link_to "Write Report", new_report_path %>
              </li>
              <% if user_signed_in? %>
              <li class="userinfo">
                <%= gravatar_for current_user, :size => 24 %>
                <%= link_to current_user.email, edit_user_registration_path %>
              </li>
              <li class="userinfo">
                <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
              </li>
              <% else %>
              <li class="userinfo">
                <%= link_to "Sign in", new_user_session_path %>
              </li>
              <li class="userinfo">
                <%= link_to "Sign up", new_user_registration_path %>
              </li>
              <% end %>
            </ul>
          </nav>
        </div>
      </header>

      <% flash.each do |key, value| %>
      <%= content_tag(:div, value, :class => "flash #{key}") %>
      <% end %>

      <section id="content">
        <%= yield %>
      </section>

      <footer>
        <p id="copyright-notes">
          <%= link_to app_title, root_path %> &copy; 2011-2012 <%= link_to "Freddie Pettersson", "http://freddiepettersson.herokuapp.com" %>
        </p>
      </footer>

    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
